.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 50px 48px;
  padding: 50px 40px 78px;

  @media (min-width: 1270px) {
    grid-template-columns: repeat(4, 200px);
  }
}
